<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        登录用户：<input type="text" name="userId"/>
        <br>
        登录密码：<input type="password" name="password"/>
        <br>
        <input type="submit" value="登录"/>
        <input type="reset" value="取消"/>
    </form>
    <hr style="width:240px;margin-left:0;">
    <a th:href="@{/oauth2/authorization/github}">github</a>
</body>
</html>
