<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>信息展示</title>
</head>
<body>
<h1>登录信息展示</h1>
<div>
    您使用应用<span th:text="${clientName}" style="font-weight:bold"/>
    的账号<span th:text="${userName}" style="font-weight:bold;font-style:italic"/>
    成功登录
</div>
<div>
    登录用户信息如下：
    <ol type="1">
    <li th:each="attribute:${userAttributes}">
        <span th:text="${attribute.key}"/> = <span th:text="${attribute.value}"/>
    </li>
    </ol>
</div>
</body>
</html>